@page "/editclient/{Client_Name}/{Client_Category}";
<h3>Edit Client Details</h3>

@code {
	[Parameter]
	public string Client_Name { get; set; }
	[Parameter]
	public string Client_Category { get; set; }
}
