@using Data.Auth
@using System.Security.Claims
@using PMS_Library.Models.CustomModel
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider authStateProvider




<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
      <small> <a class="navbar-brand" href="">
            <AuthorizeView>
                <Authorized>
                    Hi, @context.User.Identity.Name 
                </Authorized>
                <NotAuthorized>
                    Hi, Guest
                </NotAuthorized>
            </AuthorizeView>
            </a>
        </small>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>


<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Doctor">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="counter">
                        <span class="oi oi-plus" aria-hidden="true"></span> Counter
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Super">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="viewclientdetails">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Clients
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Super">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="register">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Register Users
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Super">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="viewdoctors">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Doctors
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>


@code {

    private Task<AuthenticationState> authenticationStateTask { get; set; }
    ClaimsPrincipal CurrentUser;


    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;

   

    public async Task LogoutAsync()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(new CustomAuthenticationModel());
    }
}
